@charset "utf-8";

/* 전체 레이아웃*/

#wrap {
  width: 100%;
}

#header {
  width: 100%;
  background-color: #333;
}

#contents {
  width: 100%;
  background-color: #555;
}

#footer {
  width: 100%;
  height: 200px;
  background-color: #777;
}

/* 컨테이너 레이아웃*/

.container {
  width: 1000px;
  margin: 0 auto;
}

.container .header_banner {
  position: relative;
}

.container .header_nav {
  display: flex;
  text-align: right;
  align-items: center;
  height: inherit;
}
/* 헤더 레이아웃*/

#header_nav {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #98c7f6;
  z-index: 100;
}

#header_banner {
  width: 100%;
  height: 720px;
  background-color: #d9e7f5;
  z-index: 200;
}

/* 헤더 */

.header_nav {
}

.header_nav img {
  width: 32px;
  padding-right: 16px;
}

.header_nav a {
  font-weight: bold;
  font-size: 18px;
}

.header_nav ul {
  margin-left: auto;
  display: flex;
}

.header_banner h1 {
  display: inline-block;
  margin-top: 180px;
  font-size: 42px;
}

.header_banner h2 {
  display: inline-block;
  margin-top: 20px;
  font-size: 24px;
  color: #727272;
  font-weight: 300;
}

.header_banner img {
  position: absolute;
  width: 600px;
  right: 0;
  bottom: -40px;
}

.header_banner button {
  width: 278px;
  height: 64px;
  padding: 14px 48px 14px 48px;
  font-size: 24px;
  border-radius: 8px;
  margin-top: 80px;
  display: inline-block;
  background-color: #67b9f6;
  color: #ffffff;
  border: 0px;
}

/* 컨텐츠 레이아웃*/

#cont_company {
  width: 100%;
  height: 200px;
  background-color: #eeeeee;
}
#cont_nav {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
}
#cont_cont {
  width: 100%;
  background-color: #ffffff;
}
#cont_ban {
  width: 100%;
  background-color: #f8f8f8;
}

/* 컨텐츠 컴퍼니 */
.cont_company h3 {
  text-align: center;
  padding-top: 36px;
  font-size: 18px;
  font-weight: 400;
}

.img {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
}

.img img {
  width: 200px;
}

/* 컨텐츠 내용1 */
.cont_nav {
  height: 680px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cont_nav_text {
  display: inline-block;
  padding-left: 40px;
  flex-shrink: 0;
}

.cont_nav_text h2 {
  font-size: 48px;
  font-weight: 700;
}

.cont_nav_text span {
  display: block;
  font-size: 20px;
  margin-top: 12px;
  color: #727272;
}

.cont_nav_text a {
  display: block;
  margin-top: 12px;
  font-size: 18px;
  font-weight: 600;
  color: #67b9f6;
}

.cont_nav img {
  width: 480px;
}

/* 컨텐츠 내용2 */
.cont_ban {
  height: 680px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cont_ban_text {
}

.cont_ban img {
  padding-left: 40px;
  width: 480px;
}

.cont_ban_text h2 {
  font-size: 48px;
  font-weight: 700;
}

.cont_ban_text span {
  display: block;
  font-size: 20px;
  margin-top: 12px;
  color: #727272;
}

.cont_ban_text a {
  display: block;
  margin-top: 12px;
  font-size: 18px;
  font-weight: 600;
  color: #67b9f6;
}

/* 컨텐츠 내용3 */
.cont_cont {
  height: 680px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cont_cont_text {
}

.cont_cont img {
  padding-left: 40px;
  width: 420px;
}

.cont_cont_text h2 {
  font-size: 48px;
  font-weight: 700;
}

.cont_cont_text span {
  display: block;
  font-size: 20px;
  margin-top: 12px;
  color: #727272;
}

.cont_cont_text a {
  display: block;
  margin-top: 12px;
  font-size: 18px;
  font-weight: 600;
  color: #67b9f6;
}
